/* background */
body {
  background: linear-gradient(90deg, #00adff 40%, white 90%);
  background-attachment: fixed;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding : 0;
}

#header
{
  /* make the direction reverse and make the hover work */
  /* background: transparent;  */
  background: linear-gradient(270deg, #00adff 40%, white 90%);
  padding : 30px;
}

.navbar {
  display: flex;
  height : 40px;
  flex-flow: row wrap;
  justify-content: center;
  background-color:#85d6fb;
  border-top : 4px solid white; 
  border-bottom : 4px solid white; 
}

.navbar a{
  text-decoration: none;
  color:#06a3d2;
  padding: 10px 75px;   
}

.navbar a:hover{
background-color: white; 
color: #00adff;
}

#footer{
  background-color:white;
  height: 100px;
}


section{
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center; 
  height: 100vh;
}
section .pocket
{
  position: absolute;
  border: 1px solid rgba(152, 201, 223, 0.493); 
  background-color: #00adff;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0px -11px 12px 0px rgba(0,0,0,.5);
  
}

  .paper {
  position: absolute;
  height: 410px;
  width: 480px;
  bottom : 10px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 0px 5px 0px #888;
  z-index:-2;
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 40px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}
