<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Anagha T Sasidharan</title>
    <!-- {# Bootstrap #} -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
  </head>
  <body>

  <!-- Header -->
  <header id="header">
    This is header
  </header>
      <!-- Navigation Bar -->
      <div class="navbar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </div>

  <!-- Container -->
  <div class="container">

      {% block content %}
      {% endblock %}

    </div>
    <footer id="footer">
      <hr>
      This is footer
    </footer>
  </body>
</html>
