{% extends "base.html" %}
{% block content %}

<section id="Introduction">
  <div class="pocket">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Voluptatum delectus facilis modi porro totam quo! Corporis odit, vero, 
    fugiat voluptates natus ut suscipit, 
    laborum ex itaque saepe accusantium ad nisi.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Voluptatum delectus facilis modi porro totam quo! Corporis odit, vero, 
    fugiat voluptates natus ut suscipit, 
    laborum ex itaque saepe accusantium ad nisi.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Voluptatum delectus facilis modi porro totam quo! Corporis odit, vero, 
    fugiat voluptates natus ut suscipit, 
    laborum ex itaque saepe accusantium ad nisi.
    <div class="paper">
      <div class="lines">
        <div class="text" contenteditable spellcheck="false">
          See my works !!<br /><br />
          Cupcake ipsum dolor sit amet liquorice fruitcake. Candy canes jelly beans sweet roll 
          cupcake lollipop. Powder carrot cake toffee brownie. Marshmallow sweet roll donut. 
          Chocolate cake apple pie candy canes tiramisu dragée wafer. Croissant cookie lemon drops 
          tiramisu jelly-o donut. Sweet gummi bears ice cream.
        </div>
      </div>
    </div>
  </div>  
</section>

{% endblock %}
