{% extends "base.html" %}
{% block content %}


<!-- <div class="banner outer">
  <div class="banner inner">
    <div class="content">
    Hi, I'm Anagha. I want a book opening animation.
    </div>
  </div>
</div> -->
<section>
  <div class="front-box">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Voluptatum delectus facilis modi porro totam quo! Corporis odit, vero, 
    fugiat voluptates natus ut suscipit, 
    laborum ex itaque saepe accusantium ad nisi.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Voluptatum delectus facilis modi porro totam quo! Corporis odit, vero, 
    fugiat voluptates natus ut suscipit, 
    laborum ex itaque saepe accusantium ad nisi.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Voluptatum delectus facilis modi porro totam quo! Corporis odit, vero, 
    fugiat voluptates natus ut suscipit, 
    laborum ex itaque saepe accusantium ad nisi.

  </div>
</section>



{% endblock %}
